// Combo Definitions
// https://zmk.dev/docs/features/combos
// https://zmk.dev/docs/config/combos

#include "key_positions.dtsi"
#include "layers.dtsi"

#define COMBO_TIMEOUT_MS 70

// Both Hands
combo_caps_word {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH23 RH23>; // D & K
  bindings = <&caps_word>;
};
combo_to_zmk_layer {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH31 RH34 RH23>; // Z, M, & K
  bindings = <&to _ZMK>;
};

// Left Hand
// Horizontal Combos
// Home Row
combo_esc_layer {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH23 LH24>; // D & F
  bindings = <&to _QWERTY>;
  layers = <_ZMK>;
};
combo_esc {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH23 LH24>; // D & F
  bindings = <&kp ESC>;
};
combo_slash {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH24 LH25>; // F & G
  bindings = <&kp SLASH>;
};
// Bottom Row
combo_grave {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH33 LH34>; // C & V
  bindings = <&kp GRAVE>;
};

// Vertical Combos
// Top + Home Rows
combo_larrow {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH13 LH23>; // E & D
  bindings = <&m_larrow>;
};
combo_lt_equal {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH14 LH24>; // R & F
  bindings = <&m_lt_equal>;
};
// Home + Bottom Rows
combo_gt_equal {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH24 LH34>; // F & V
  bindings = <&m_gt_equal>;
};


// Right Hand
// Horizontal Combos
// Home Row
combo_question {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH25 RH24>; // H & J
  bindings = <&kp QUESTION>;
};
combo_enter {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH24 RH23>; // J & K
  bindings = <&kp ENTER>;
};
combo_db_underscore {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH24 RH23 RH22>; // J, K & L
  bindings = <&m_db_underscore>;
};
combo_underscore {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH23 RH22>; // K & L
  bindings = <&kp UNDERSCORE>;
};
// Bottom Row
combo_db_minus {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH34 RH33 RH32>; // M, COMMA & DOT
  bindings = <&m_db_minus>;
};
combo_minus {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH33 RH32>; // COMMA & DOT
  // NOTE: Binding the combo's hold behavior to trigger the same modifiers
  // as the home row mods for these key positions is the best ZMK allows
  // right now to mimic a tap-only QMK-type combo.
  // If you fill home row positions with more combos, it might be better
  // or easier to train yourself to roll onto the combos 1 at a time to
  // form the multi-modifier hold without triggering the combo.
  bindings = <&combo_ht RS(RALT) MINUS>;
};

// Vertical Combos
// Top + Home Rows
combo_db_rarrow {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH14 RH24>; // U & J
  bindings = <&m_db_rarrow>;
};
combo_rarrow {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH13 RH23>; // I & K
  bindings = <&m_rarrow>;
};
// Home + Bottom Rows
combo_caret {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH24 RH34>; // J & M
  bindings = <&kp CARET>;
};
combo_dollar {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  // key-positions = <RH23 RH33>; // K & COMMA
  key-positions = <42 56>; // K & COMMA
  bindings = <&kp DOLLAR>;
};
