// Combo Definitions
// https://zmk.dev/docs/features/combos
// https://zmk.dev/docs/config/combos

#include "key_positions.dtsi"
#include "layers.dtsi"
#include "macros.dtsi"

#define COMBO_TIMEOUT_MS 70

// Both Hands
combo_caps_word {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH23 RH23>; // D & K
  bindings = <&caps_word>;
};
combo_tog_zmk_layer {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH31 RH34 RH23>; // Z, M, & K
  bindings = <&tog _ZMK>;
};

// Left Hand
// Horizontal Combos
// Top Row
combo_lh_delete {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH14 LH15>; // R & T
  bindings = <&kp DELETE>;
};
// Home Row
combo_lh_meh {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH21 LH22 LH23>; // A, S, & D
  bindings = <&sk LC(LS(LALT))>;
};
combo_lh_hyper {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH21 LH22 LH23 LH24>; // A, S, D, & F
  bindings = <&sk LC(LS(LA(LGUI)))>;
};
combo_question {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH24 LH25>; // F & G
  bindings = <&kp QUESTION>;
};
// Bottom Row
combo_ht_lalt_lshft_grave {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH32 LH33>; // X & C
  bindings = <&combo_ht LA(LSHFT) GRAVE>;
};
combo_esc_zmk_layer {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH33 LH34>; // C & V
  bindings = <&tog _ZMK>;
  layers = <_ZMK>;
};
combo_lt_raise_esc {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH33 LH34>; // C & V
  slow-release;
  bindings = <&combo_lt _RAISE ESC>;
};

// Vertical Combos
// Top + Home Rows
combo_larrow {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH13 LH23>; // E & D
  bindings = <&m_larrow>;
};
combo_lt_equal {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH14 LH24>; // R & F
  bindings = <&m_lt_equal>;
};
combo_lh_backspace {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH15 LH25>; // T & G
  bindings = <&kp BACKSPACE>;
};
// Home + Bottom Rows
combo_gt_equal {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <LH24 LH34>; // F & V
  bindings = <&m_gt_equal>;
};


// Right Hand
// Horizontal Combos
// Top Row
combo_rh_delete {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH15 RH14>; // Y & U
  bindings = <&kp DELETE>;
};
// Home Row
combo_rh_meh {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH21 RH22 RH23>; // K, L, & SEMI
  bindings = <&sk LC(LS(LALT))>;
};
combo_rh_hyper {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH21 RH22 RH23 RH24>; // J, K, L, & SEMI
  bindings = <&sk LC(LS(LA(LGUI)))>;
};
combo_slash {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH25 RH24>; // H & J
  bindings = <&kp SLASH>;
};
combo_enter {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH24 RH23>; // J & K
  bindings = <&kp ENTER>;
};
combo_db_underscore {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH24 RH23 RH22>; // J, K & L
  bindings = <&m_db_underscore>;
};
combo_underscore {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH23 RH22>; // K & L
  bindings = <&kp UNDERSCORE>;
  layers  = <_QWERTY _RAISE _EXTEND _ZMK>; // all but _LOWER, for fast () rolls
};
// Bottom Row
combo_db_minus {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH34 RH33 RH32>; // M, COMMA & DOT
  bindings = <&m_db_minus>;
};
combo_minus {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH33 RH32>; // COMMA & DOT
  // NOTE: Binding the combo's hold behavior to trigger the same modifiers
  // as the home row mods for these key positions is the best ZMK allows
  // right now to mimic a tap-only QMK-type combo.
  // If you fill home row positions with more combos, it might be better
  // or easier to train yourself to roll onto the combos 1 at a time to
  // form the multi-modifier hold without triggering the combo.
  bindings = <&combo_ht RS(RALT) MINUS>;
  layers  = <_QWERTY _RAISE _EXTEND _ZMK>; // all but _LOWER, for fast {} rolls
};

// Vertical Combos
// Top + Home Rows
combo_rh_backspace {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH15 RH25>; // Y & H
  bindings = <&kp BACKSPACE>;
};
combo_db_rarrow {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH14 RH24>; // U & J
  bindings = <&m_db_rarrow>;
};
combo_rarrow {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH13 RH23>; // I & K
  bindings = <&m_rarrow>;
};
// Home + Bottom Rows
combo_caret {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  key-positions = <RH24 RH34>; // J & M
  bindings = <&kp CARET>;
};
combo_dollar {
  timeout-ms = <COMBO_TIMEOUT_MS>;
  // key-positions = <RH23 RH33>; // K & COMMA
  key-positions = <42 56>; // K & COMMA
  bindings = <&kp DOLLAR>;
};
