// Hold-Tap Behavior definitions
// https://zmk.dev/docs/behaviors/hold-tap
// https://zmk.dev/docs/config/behaviors#hold-tap

#include "key_positions.dtsi"

#define DEFAULT_TAPPING_TERM_MS 200
#define THUMB_TAPPING_TERM_MS 300
#define HOME_MODS_TAPPING_TERM_MS 300
#define QUICK_TAP_MS 200
#define HOMEROW_MODS_FLAVOR "balanced"

combo_ht: combo_hold_tap {
  compatible = "zmk,behavior-hold-tap";
  #binding-cells = <2>;
  tapping-term-ms = <HOME_MODS_TAPPING_TERM_MS>;
  quick-tap-ms = <QUICK_TAP_MS>;
  flavor = "balanced";
  bindings = <&kp>, <&kp>;
};

combo_lt: combo_layer_tap {
  compatible = "zmk,behavior-hold-tap";
  #binding-cells = <2>;
  tapping-term-ms = <HOME_MODS_TAPPING_TERM_MS>;
  quick-tap-ms = <QUICK_TAP_MS>;
  flavor = "balanced";
  bindings = <&mo>, <&kp>;
};

lh_hm: lh_homerow_mods {
  compatible = "zmk,behavior-hold-tap";
  #binding-cells = <2>;
  tapping-term-ms = <HOME_MODS_TAPPING_TERM_MS>;
  quick-tap-ms = <QUICK_TAP_MS>;
  flavor = HOMEROW_MODS_FLAVOR;
  bindings = <&kp>, <&kp>;
  hold-trigger-key-positions = <KEYS_R THUMBS_LEFT THUMBS_RIGHT>;
  hold-trigger-on-release;
};

lh_lt: lh_layer_tap {
  compatible = "zmk,behavior-hold-tap";
  #binding-cells = <2>;
  tapping-term-ms = <HOME_MODS_TAPPING_TERM_MS>;
  quick-tap-ms = <QUICK_TAP_MS>;
  flavor = HOMEROW_MODS_FLAVOR;
  bindings = <&mo>, <&kp>;
  hold-trigger-key-positions = <KEYS_R THUMBS_LEFT THUMBS_RIGHT>;
  hold-trigger-on-release;
};

lt_mt: left_thumb_mod_tap {
  compatible = "zmk,behavior-hold-tap";
  #binding-cells = <2>;
  tapping-term-ms = <THUMB_TAPPING_TERM_MS>;
  quick-tap-ms = <QUICK_TAP_MS>;
  // flavor = "balanced";
  bindings = <&kp>, <&kp>;
};

rh_hm: rh_homerow_mods {
  compatible = "zmk,behavior-hold-tap";
  #binding-cells = <2>;
  tapping-term-ms = <HOME_MODS_TAPPING_TERM_MS>;
  quick-tap-ms = <QUICK_TAP_MS>;
  flavor = HOMEROW_MODS_FLAVOR;
  bindings = <&kp>, <&kp>;
  hold-trigger-key-positions = <KEYS_L THUMBS_LEFT THUMBS_RIGHT>;
  hold-trigger-on-release;
};

rh_lt: rh_layer_tap {
  compatible = "zmk,behavior-hold-tap";
  #binding-cells = <2>;
  tapping-term-ms = <HOME_MODS_TAPPING_TERM_MS>;
  quick-tap-ms = <QUICK_TAP_MS>;
  flavor = HOMEROW_MODS_FLAVOR;
  bindings = <&mo>, <&kp>;
  hold-trigger-key-positions = <KEYS_L THUMBS_LEFT THUMBS_RIGHT>;
  hold-trigger-on-release;
};

rt_lt: rt_layer_tap {
  compatible = "zmk,behavior-hold-tap";
  #binding-cells = <2>;
  tapping-term-ms = <THUMB_TAPPING_TERM_MS>;
  quick-tap-ms = <QUICK_TAP_MS>;
  flavor = "balanced";
  bindings = <&mo>, <&kp>;
};
