// Hold-Tap Behavior definitions
// https://zmk.dev/docs/behaviors/hold-tap
// https://zmk.dev/docs/config/behaviors#hold-tap

#include "key_positions.dtsi"

combo_ht: combo_hold_tap {
  compatible = "zmk,behavior-hold-tap";
  label = "COMBO_HOLD_TAP";
  #binding-cells = <2>;
  tapping-term-ms = <300>;
  quick_tap_ms = <175>;
  flavor = "balanced";
  bindings = <&kp>, <&kp>;
};

lh_hm: lh_homerow_mods {
  compatible = "zmk,behavior-hold-tap";
  label = "LEFT_HAND_HOMEROW_MODS";
  #binding-cells = <2>;
  tapping-term-ms = <300>;
  quick_tap_ms = <175>;
  flavor = "balanced";
  bindings = <&kp>, <&kp>;
  hold-trigger-key-positions = <KEYS_R THUMBS_LEFT THUMBS_RIGHT>;
  hold-trigger-on-release;
};

lh_lt: lh_layer_tap {
  compatible = "zmk,behavior-hold-tap";
  label = "LEFT_HAND_LAYER_TAP";
  #binding-cells = <2>;
  tapping-term-ms = <300>;
  quick_tap_ms = <175>;
  flavor = "balanced";
  bindings = <&mo>, <&kp>;
  hold-trigger-key-positions = <KEYS_R THUMBS_LEFT THUMBS_RIGHT>;
  hold-trigger-on-release;
};

rh_hm: rh_homerow_mods {
  compatible = "zmk,behavior-hold-tap";
  label = "RIGHT_HAND_HOMEROW_MODS";
  #binding-cells = <2>;
  tapping-term-ms = <300>;
  quick_tap_ms = <175>;
  flavor = "balanced";
  bindings = <&kp>, <&kp>;
  hold-trigger-key-positions = <KEYS_L THUMBS_LEFT THUMBS_RIGHT>;
  hold-trigger-on-release;
};

rh_lt: rh_layer_tap {
  compatible = "zmk,behavior-hold-tap";
  label = "RIGHT_HAND_LAYER_TAP";
  #binding-cells = <2>;
  tapping-term-ms = <300>;
  quick_tap_ms = <175>;
  flavor = "balanced";
  bindings = <&mo>, <&kp>;
  hold-trigger-key-positions = <KEYS_L THUMBS_LEFT THUMBS_RIGHT>;
  hold-trigger-on-release;
};
