// Layer Definitions
// https://zmk.dev/docs/behaviors/layers
#pragma once

#define _COLEMAK  0
#define _QWERTY   1
#define _LOWER    2
#define _NUMPAD   3
#define _RAISE    4
#define _EXTEND   5
#define _FN       6
#define _ARROWS   7
#define _ZMK      8
