// Layer Definitions
// https://zmk.dev/docs/behaviors/layers
#pragma once

#define _COLEMAK   0
#define _QWERTY    1
#define _LOWER     2
#define _NUMPAD    3
#define _RAISE     4
#define _EXTEND    5
#define _FN        6
#define _ARROWS    7
#define _TAP_ONLY  8
#define _ZMK       9
#define _LEAD     10
#define _LEAD_L   11

// NOTE: If you add a layer, consider updating this macro for any combos
// containing a layers property.
#define _All_EXCEPT_LOWER \
_COLEMAK \
_QWERTY \
_NUMPAD \
_RAISE \
_EXTEND \
_FN \
_ARROWS \
_TAP_ONLY \
_ZMK
